<div id="courses">
    <div class="small-12 large-8 large-centered columns"> 
      <h3> Courses taken in UIUC </h3>
      <!--table>
        <tr> <th> Course </th> <th> Title </th> <th> Grade </th></tr>
        <tr> <td> CS 512 </td> <td> Data Mining Principles </td> <td> ongoing </td></tr>
        <tr> <td> CS 543 </td> <td> Computer Vision </td> <td>  ongoing </td></tr>
        <tr> <td> CS 427 </td> <td> Software Engineering I </td> <td>  A+ </td></tr>
        <tr> <td> CS 421 </td> <td> Programming Languages and Compilers </td> <td>  A+ </td></tr>
        <tr> <td> CS 412 </td> <td> Introduction to Data Mining </td> <td>  A+ </td></tr>
        <tr> <td> CS 225 </td> <td> Data Structures </td> <td>  A+ </tr>
        <tr> <td> CS 498 </td> <td> Art and Science of Web Programming </td> <td>  A </td></tr>
        <tr> <td> CS 410 </td> <td> Text Information Systems </td> <td>  A </td></tr>
        <tr> <td> CS 411 </td> <td> Database Systems </td> <td>  A+ </tr>
        <tr> <td> CS 598 </td> <td> Sensing in Social Spaces </td> <td>  A </td></tr>
        <tr> <td> CS 423 </td> <td> Operating Systems Design </td> <td>  A+ </td></tr>
        <tr> <td> CS 498 </td> <td> Theory II (Algorithm) </td> <td>  A- </td></tr>
        <tr> <td> CS 450 </td> <td> Numerical Analysis </td> <td>  A+ </td></tr>
        <tr> <td> CS 541 </td> <td> Computer Systems Analysis </td> <td>  A </td></tr>
        <tr> <td> PHYS 514 </td> <td> Modern Atomic Physics </td> <td>  A+ </td></tr>
        <tr> <td> PHYS 563 </td> <td> Phase Transitions </td> <td>  A+ </td></tr>
        <tr> <td> PHYS 583 </td> <td> Advanced Field Theory </td> <td>  A </td></tr>
        <tr> <td> PHYS 582 </td> <td> General Field Theory </td> <td>  A+ </td></tr>
        <tr> <td> PHYS 569 </td> <td> Emergent States of Matter </td> <td>  A </td></tr>
      </table-->

      <table>
        <tr> <th> Course </th> <th> Title </th> <th> Grade </th></tr>
        <tr ng-repeat="course in data"> <td> {{course.course}} </td> <td> {{course.title}} </td> <td> {{course.grade}} </td></tr>
      </table>

    </div>
</div>