<div class="row">
  <div class="small-12 large-8 large-centered columns" id="details">
    <div class="row">
      <div class="small-1 columns arrow"> <a href="#/details/{{preRank}}" ng-hide="preRank < 1"> &lt </a> </div>
      <div class="small-1 columns arrow"> <a href="#/details/{{nextRank}}" ng-hide="nextRank > 250" >&gt </a></div>
    </div>
    <div class="row title">{{movie.title}}</div>
    <div class="row rank">Rank: {{movie.rank}}</div>
    <div class="row text-left" id="more">
    	<div class="small-12 medium-4 columns"><img ng-src="./data/images/{{movie.imdbID}}.jpg"/></div>
    	<div class="small-12 medium-8 columns">
    	  <p class="plot">{{movie.plot}}</p>
    	  <p>Release: {{movie.released}}</p>
    	  <p>Runtime: {{movie.runtime}}</p>
    	  <p>Awards: {{movie.awards}} </p>
    </div>
  </div>


</div>