<div class="row" id="home">
  <div class="large-5 large-push-7 columns">
    <div id="photo" >
      <img src="./data/images/photo.png" alt="Xiaoxiao Wang">
    </div>
  </div>
  <div id="info" class="large-7 large-pull-5 columns">
    <h1>Xiaoxiao Wang</h1>
    <div>
      <div class="text-justify">I am currently a Master of Computer Science student at the University of Illinois at Urbana-Champaign. My expected graduation date is in Summer 2017. I am looking for a Software Engineer or Front-End Developer position. I am looking for a job with both challenges and impacts.</div>
      <div class="text-justify"><span>Email:</span> xwang104 at illinois dot edu </div>
      <div class="text-justify"><span>Phone:</span> (240) 330-0776 </div>
      <div id="social" class="text-center">        
        <a href="mailto:xwang104@illinois.edu"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
        <a href="./data/XiaoxiaoWang_CV.pdf"><i class="fa fa-file-text fa-2x" aria-hidden="true"></i></a>
        <a href="https://github.com/xwang104/"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/xwang104?"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
      </div>
    </div>
	</div>

</div>

<div class="boxshadow" id="background">
  <div class="row">
    <div class="small-12 large-6 columns">
      <h3>Education</h3>
      <ul class="outul">
        <li> <span>MCS</span>, in Computer Science at University of Illinois at Urbana-Champaign, Urbana IL, in progress, expected May 2017. </li>
        <li> <span>M.S.</span>, in Physics at University of Illinois at Urbana-Champaign, Urbana IL, August 2016. </li>
        <li> <span>B.S.</span>, in Physics at Nanjing University, Nanjing, China, June 2010.
      </ul>
      <h3>Work</h3>
      <ul class="outul">
        <li> <span>Research Assistant</span>, at University of Illinois at Urbana-Champaign, Urbana IL, May 2012 - May 2014 </li>
        <li> <span>Teaching Assistant</span>, at University of Illinois at Urbana-Champaign, Urbana IL, August 2011 - May 2016. </li>
        <li> <span>Teaching Assistant</span>, at University of Maryland at College Park, College Park MD, August 2010 - May 2011. </li>
      </ul>
    </div>
    <div class="small-12 large-6 columns">
      <h3>Skills</h3>
      <ul class="outul">
        <li><span>Languages</span></li>
          <ul>
            <li>Proficient: Python, HTML5, CSS3/SASS, JavaScript </li>
            <li>Familiar With: C/C++, MATLAB, Java, SQL, Ocaml </li>
          </ul>
          <li><span>Frameworks and Tools:</span></li>
          <ul>
            <li>JQuery, Foundation, AngularJS, </li>
            <li>Django, Node.js, Express.js, MongoDB, Git</li>
          </ul>
      </ul>
      <h3>Honors and Awards</h3>
      <ul class="outul">
        <li>Excellent Teacher, 2012</li>
        <li>Outstanding Student of Nanjing University, 2009</li>
        <li>People’s Scholarship (top 10%), 2008 and 2009</li>
        <li>National Scholarship (top 1%) by Ministry of Education and Ministry of Finance, 2007</li>
      <ul>
    </div> 

  </div>
</div>