<div id="more">
  <div class="small-12 large-8 large-centered columns"> 
    <h3> Some other interesting things</h3>
    <ul>
        <li><span>Survey: </span> Backend as a Service <a href="./data/more/BaaS.pdf"><i class="fa fa-external-link" aria-hidden="true"></i></a></li>
        <li><span>Survey: </span> Exploring the architecture of distributed database in both SQL and NoSQL communities <a href="./data/more/distributedDB.pdf"><i class="fa fa-external-link" aria-hidden="true"></i></a></li>
        <li><span>Book Report: </span> Pragmatic Thinking and Learning <a href="./data/more/Pragmatic.pdf"><i class="fa fa-external-link" aria-hidden="true"></i></a></li>
    </ul>
    <ul>
      <li>A website using only HTML, SCSS, and Javascript (not responsive)<a href="http://138.197.86.134:5000/"><i class="fa fa-external-link" aria-hidden="true"></i></a></li>
      <li>A website using the Foundation front-end framework (responsive)<a href="http://138.197.86.134:7000/"><i class="fa fa-external-link" aria-hidden="true"></i></a></li>
      <li>A front-end interface using AngularJS<a href="http://138.197.86.134:8000/"><i class="fa fa-external-link" aria-hidden="true"></i></a></li>
      <li>A REST API (using Node, Express and Mongo) and A front-end (using Angular) that consumes the API.<a href="http://138.197.86.134:3000/"><i class="fa fa-external-link" aria-hidden="true"></i></a></li>
      <li>Some mock up of Course Helper (back end not running)<a href="./data/more/student.pdf"><i class="fa fa-external-link" aria-hidden="true"></i></a></li>
    <ul>
  </div>
</div>